@import "../vars";
@import "../mixins";

.blogPostHighlights {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 4px 24px;

  @include for-tablet-landscape-up {
    display: none;
  }

  &__title {
    font-size: 41px;
    font-weight: 700;
    line-height: 49.2px;
    color: $color-primary-blue;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;

    & img {
      width: 100%;
      max-height: 135px;
      height: auto;
    }
  }
}
