@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"), url("../assets/fonts/Centrale-Sans-Medium.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"), url("../assets/fonts/Centrale-Sans-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"), url("../assets/fonts/Centrale-Sans-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"), url("../assets/fonts/Centrale-Sans-Bold.otf");
  font-weight: 700;
}

// @font-face {
//   font-family: "Centrale Sans";
//   src: local("Centrale Sans"), url("../assets/fonts/Centrale-Sans-Black.otf");
//   font-weight: 900;
// }

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"),
    url("../assets/fonts/Centrale-Sans-Medium-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"),
    url("../assets/fonts/Centrale-Sans-Light-Italic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"),
    url("../assets/fonts/Centrale-Sans-Thin-Italic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Centrale Sans";
  src: local("Centrale Sans"),
    url("../assets/fonts/Centrale-Sans-Bold-Italic.otf");
  font-weight: 700;
  font-style: italic;
}

// @font-face {
//   font-family: "Centrale Sans";
//   src: local("Centrale Sans"),
//     url("../assets/fonts/Centrale-Sans-Black-Italic.otf");
//   font-weight: 900;
//   font-style: italic;
// }
