$max-width-container: 1440px;

$color-primary-blue: #003a6a;

$color-primary-red: #dd0209;
$color-primary-red-20: #dd020933;

$color-primary-yellow: #f8bd00;

$color-primary-white: #ffffff;
$color-primary-white-90: #ffffffe5;

$color-primary-gray-light: #eeeff0;
$color-primary-gray-dark: #1e1e1e;

$color-primary-green: #25d366;

$color-neutral-gray: #dedfe2;
